<h1>Welcome to This.</h1>
<form onsubmit="return addProduct(this)" class="form">
    <div>
        <label for="name">Name:</label>
        <input name="name" id="prod-name">
    </div>
    <div>
        <label for="type">Type:</label>
        <select name="type">
            <option value="shirt">Shirt</option>
            <option value="jacket">Jacket</option>
        </select>
    </div>
    <div>
        <label for="price">Price:</label>
        <input name="price" id="prod-price">
    </div>
    <div>
        <label for="image">Image URL:</label>
        <input type="text" name="image" id="prod-image">
    </div>
    <div class="btnDiv">
        <button type="submit" id="new-Prod-Btn">Send</button>
    </div>
</form>

<h2 class="margin-left">These are our products:</h2>
<div class="prodContainer margin-left">
    <div id="cart">

    </div>
</div>
<form onsubmit="return addMessage(this)" class="margin-left">
    <label for="mail">Mail:</label>
    <input type="mail" id="input-mail">
    <label for="message">Message:</label>
    <input id="message-input" placeholder="Enter message" />
    <button type="submit" id="send-btn">Send</button>
</form>
<div class="margin-left">
    <div id="user-list">
        <ul id="user-list" class="name-list">
            
        </ul>
    </div>
    <div id="chat-container" class="margin-bottom">

    </div>

</div>