<form action="/products/add" method="post" enctype="multipart/form-data" class="form">
    <div>
        <label for="name">Name:</label>
        <input name="name">
    </div>
    <div>
        <label for="type">Type:</label>
        <select name="type">
            <option value="shirt">Shirt</option>
            <option value="jacket">Jacket</option>
        </select>
    </div>
    <div>
        <label for="price">Price:</label>
        <input name="price">
    </div>
    <div>
        <label for="image">Image:</label>
        <input type="file" name="image">
    </div>
    <div class="btnDiv">
        <button type="submit">Send</button>
    </div>
</form>
