html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title(This | Dress well)
        link(rel="stylesheet" href="/static/css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
    head
    body
        header(class="w-full bg-gray-300 h-40 header")
            nav
                ul
                    a(href="/")
                        li Home
                    a(href="/api/products")
                        li Products
        h1 Our products:
    div(id="app")
        form(action="/pug/add" method="POST" class="form")
            div
                label(for="name") Name:
                input(name="name")

            //- div
            //-     label(for="type") Type:
            //-     select(name="type")
            //-         option(value="shirt") Shirt
            //-         option(value="jacket") Jacket

            //- div
            //-     label(for="price") Price:
            //-     input(name="price")

            //- div
            //-     label(for="image") Image:
            //-     input(type="file" name="image")

            //- div(class="btnDiv")
            //-     button(type="submit") Send
    body
html